.playerButton {
    font: 18px Helvetica;
    border: 1px solid;
    padding: 5 25 5 25;
    margin-right: 10px;
    height: 20px;
    box-shadow: 3px 3px 1px #888888;
    display: inline-block;
}

.longButton {
    font: 18px Helvetica;
    border: 1px solid;
    padding: 5 10 5 10;
    margin-left: 10px;
    box-shadow: 3px 3px 1px #888888;
    display: inline-block;
}

.barText {
    font: 18px Helvetica;
    padding: 5 0 5 0;
    display: inline-block;
}

.scoreText {
    font: 18px Helvetica;
    padding: 5 0 5 25;
    display: inline-block;
}

.keyShortcutLabel {
    font: 10px Helvetica;
    vertical-align:top;
    margin-bottom: 10px;
}

#buttonBar {
    margin-left: 150px;
}

canvas {
    border: 1px solid;
    margin-bottom: 5px;
}

.statefulBar {
    display: none;
}

#timeLeft {
    margin-left: 5px;
}

input {
    padding: 5 25 5 25;
    font: 18px Helvetica;
}

#answer {
    width: 350px;
    margin-right: 10px;
    display: inline-block;
}

#winningPlayerLabel {
    margin-right: 5px;
}

#statusField {
    font: 28px Helvetica;
}

#largeTimeLeftLabel {
    font: 72pt Helvetica;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
